button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #444;
    color: #fff;
    transform: scale(1.08);
  }
  
  
  
  .form-select:hover {
    border-color: #666;
  }
  
  
  .bg-black {
    background-color: #000 !important;
  }
  
  .text-white {
    color: #fff !important;
  }

.timetable-table{
  border: 2px solid black !important;
  table-layout: fixed;
  width: 100%;
}
/* Reduce table header size */
.timetable-table thead th {
  font-size: 28px;
  padding: 8px;
  background-color: #d2d3d4;
  border: 2px solid black !important;
}

/* Reduce table cell size */
.timetable-table tbody td {
  font-size: 18px;
  padding: 8px;
  border: 2px solid black !important;
}

.colorChange{
  background-color: #d2d3d4 !important;
  text-align: center;
}
.days{
  font-weight: bold;
}

.facultyStyle{
  font-weight: bold;
}