.cardBox {
    border-radius: 0.8rem;
    border: 1px solid #444;
    padding: 20px;
    margin: 30px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }