.display-1 {
    background-color: #e5e7eb !important;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display-2 {
    background-color: white !important;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-info {
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}