.semester-container {
    background-color: #e5e7eb !important;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.semester-selection {
    padding: 20px !important;
    margin: 0 auto; 
}

.generate-container {
    text-align: center;
}